
entrypoint="index.html"
hidden=[".config"]
modules = ["nodejs-20", "web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"
build = []
run = ["sh", "-c", "npm run start"]

[env]
REPLIT_DISABLE_PACKAGE_LAYER = "1"

[[ports]]
localPort = 3000
externalPort = 8080
